
html, body {
	color: white;
	font-family: Segoe UI,Helvetica,Arial,sans-serif;
	background-color: black;
	margin:0px;
}

.page {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	width: 100vw;
	height: 100vh;
}

/************************ header section styles ************************/
.headerDiv {
	background-color:red;
	flex-grow:0;
	height:100px;
}

/************************ center section styles ************************/
.centerDiv {
	/*background-color:tan;*/
	flex-grow:1;
	display: flex;
	flex-flow: row;
	align-items: stretch;
	height:100%;
	width:100%;
}

#sidebarDiv {
	border:1px solid white;
	flex-grow: 0;
	/*background-color:green;*/
	width:165px;
	max-width: 165px;
	height:100%;
	/*display:flex;
	flex-flow: column;
	align-items: stretch;
	background-color: blue; */
	display: flex;
	flex-flow: column;
	align-items: stretch;
}

#stackDiv {
	width:165px;
	max-width: 165px;
	/*background-color:pink;*/
	flex-grow: 1;
	height:100%;
	overflow:auto;
	/*overflow: scroll;
	color:#ffffff;
	flex-grow: 1;
	max-height:100%;
	height:100vh;*/
}

#unitBoxCanvas {margin-left:5px;}

#sidebarTabsDiv {
	width:165px;
	max-width: 165px;
	/*background-color:orange;*/
	flex-grow: 0;
	height:250px;
	padding-left:5px;
}

.tabLabels {
	display:flex;
	flex-flow: row;
	list-style: none;
	padding-top:5px;
}

.tabLabels > div {
	padding: 0 5px 0 5px;
	border:1px solid white;
}

.tabLabels > div.active {
	background-color:white;
	color:black;
}

.tabs {
	position:relative;
}

.tabs > div {
	display:none;
}

.tabs > div.active {
	background-color:red;
	display:block;
}

#taskListDiv {height:212px; overflow:auto; padding:0;}
#taskList { padding:0em 1.4em; }
#hexInfo { padding:0; }

#mainMapDiv {
	flex-grow:1;
	background-color:purple;
	height:100%;
	overflow:auto;
	/*grid-column-start: 2;
	grid-column-end: 3;
	background-color: black;
	height:auto;
	overflow:auto; 
	max-height: 100%;*/
}

#mainMapCanvas {border: 0px none black;}
/************************ footer section styles ************************/
.footerDiv {
	background-color:blue;
	flex-grow:0;
	height:100px;
}

/***********************************************/



#sidebarBottom {
	background-color: red;
	height:258px;
	flex-grow: 0;
}

#mainToolbar {
	grid-column-start: 1;
	grid-column-end: 3;
}

#mainMenuDiv {
	grid-column-start: 1;
	grid-column-end: 3;
}



#footerDiv {
	grid-column-start: 1;
	grid-column-end: 3;
}

#header {border-bottom:1px solid #ffffff; width:100%; height:85px;}
.headerFirstRow { display:flex; align-items: center; background-color:#201913; }
#mainMenuDiv {border:1px solid white; color:#ffffff;}
#currentDateTime {border:1px solid white; color : #ffffff; }
#mainToolbar {border-top:1px dotted #ffffff; background-color:#201913; height:39px; padding-top:5px; padding-left:5px;}
#mainToolbar span {color:white}

#footer {position:relative; border-top:1px solid #ffffff; width:100%; height:34px; background-color:#201913}
#footerClockDiv {float:left; background-color:#201913; width:350px; height:29px; padding-top:5px; padding-left:4px;}
#currentTimeDiv {float:left; border:1px solid #ffffff; width:30px; margin-left:6px; margin-right:10px; color:#ffffff; text-align:center; 
	font-family:Impact,Charcoal,sans-serif;}
#clockControlsDiv {float:left; width:300px;}
#footerStatusDiv {float:left; background-color:#201913; height:29px; padding-top:5px; padding-left:2px; color:#ffffff; border-left:1px dotted #ffffff; }
#footerTurnDiv {float:right; background-color:#201913; height:29px; padding-top:5px; padding-left:10px; padding-right:10px; color:#ffffff; border-left:1px dotted #ffffff;}

/*#center {width:100%; height:600px;} */




#gameModeButton {float:right; margin-right:10px;}




#currentHexDiv {background-color:#201913;; width:179px; height:120px; color:#ffffff;}





#counterList .ui-selecting, #targetList .ui-selecting, #taskList .ui-selecting { background: #FECA40; }
#counterList .ui-selected, #targetList .ui-selected, #taskList .ui-selected { background: #F39814; color: white; }
#counterList, #targetList, #taskList { list-style-type: none; margin: 0; padding: 0;}
#counterList li, #targetList li { margin: 3px; padding: 0.4em; font-size: .75em;}

.board {padding:0px; margin:0px;}
.boardRow .board {float:left;}
.boardRow {width:3328px;}
.clear {clear:both;}

#taskList {
	overflow:auto;
}

#mainToolbar .ui-button {position:static;}

nav {color: #9BCC60; font-weight:bold;}
nav ul { margin:0px;}
nav ul ul {display: none;}
nav ul li:hover > ul {display: block;}
nav ul {list-style: none outside none; padding: 0px; position: relative;}
nav ul:after {clear: both; content: ""; display: block;}
nav ul li {float: left;}
nav ul li:hover {background: url("/panzerblitz/server/images/ui-bg_gloss-wave_30_44372c_500x100.png") repeat-x scroll 50% 50% #44372C;}
nav ul li:hover a {color: #ffffff;}
nav ul li a {display: block; padding: 10px 10px; text-decoration: none; color: #9BCC60;}
nav ul ul {background: none repeat scroll 0 0 #201913; border-radius: 0 0 0 0; padding: 0; position: absolute; top: 100%;}
nav ul ul li {border-bottom: 1px solid #575F6A; border-top: 1px solid #6B727C; float: none; position: relative;}
nav ul ul li a {color: #FFFFFF; padding: 15px 40px;}
nav ul ul li a:hover {background: url("/panzerblitz/server/images/ui-bg_gloss-wave_30_44372c_500x100.png") repeat-x scroll 50% 50% #44372C;}
nav ul ul ul {left: 100%; position: absolute; top: 0;}
nav ul ul { z-index: 2;}


.ui-widget {font-size:.9em;}
.ui-widget-overlay {background:#ffffff; -moz-opacity:0.99; filter:alpha(opacity=99);}


#rotateLeftButton {width:38px; height:32px; background: url('/civilwar/server/images/icons/toolbar.png') -0px -30px}
#rotateRightButton {width:38px; height:32px; background: url('/civilwar/server/images/icons/toolbar.png') -37px -30px}
#aboutFaceButton {width:38px; height:32px; background: url('/civilwar/server/images/icons/toolbar.png') -0px -59px}
#formationButton {width:38px; height:32px; background: url('/civilwar/server/images/icons/toolbar.png') -37px -59px}